<app-navbar />
<div class="container" style="margin-top: 30px;">
  <div class="items-stretch justify-between rounded-3xl hero md:flex">
    <div class="basis-[50%] space-y-10 py-10 pl-5 text-white md:pl-10">
      <p class="text-2xl font-medium">TRENDY FASHION ZONE</p>
      <div
        class="flex items-center gap-1 text-[40px] font-bold md:text-[70px]"
        style="line-height: '1em'"  
      >
      We Always Build Stunning Fashion Experiences
      </div>
      <div class="flex items-center gap-7">
        <button>Shop Now</button>
        
        <button class="flex items-center gap-1 border-2 border-white bg-transparent text-white">
           Watch Trending
        </button>
      </div>
    </div>
    <div class="flex basis-[47%] items-end overflow-hidden">
      <img
        src="assets/hero.png"
        alt="hero image"
        class="-mb-16 w-full object-bottom"
      />
    </div>
  </div>
</div>

 

       